.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App--header {
  padding: 20px;
  background-image: url("/pattern.jpg");
  background-size: 240px 240px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #ccc;
}

.App--main {
  flex: 1;
}

.App--title {
  text-align: center;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  /*  
  padding: .2em .5em;
  border-radius: var(--size-border-radius);
  background-color: var(--color-button);
}

button:hover {
  background-color: var(--color-button-hover);
*/
}

button:active {
  transform: scale(0.95);
}
button:disabled {
  transform: scale(1) !important;
  color: lightgray !important;
}

.headerButtons {
  display: flex;
  max-width: 100vw;
  justify-content: center;
}

.headerButtons > button,
.headerButtons > button > div {
  border-radius: 4em;
}

.headerButtons > button {
  margin: 0 5px;
  max-width: 250px;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  text-shadow: -1px 1px 2px darkslategray;
  flex-grow: 1;

  --headerButton--background: grey;
  --headerButton--border: rgb(75, 75, 75);

  background-color: var(--headerButton--background);
  overflow: hidden;
}

.headerButtons > button > div {
  padding: 0.6em 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: calc(100% + 200px) 100%;
}

@keyframes slide {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.headerButtons > button:hover {
  box-shadow: 0 0 0 4px var(--headerButton--border);
}

.headerButtons > button:hover > div {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 7px,
    transparent 7px,
    transparent 14px
  );
  animation: slide 5s infinite linear;
}

button.headerButtons--tools {
  --headerButton--background: #0cbeb2;
  --headerButton--border: #61d5c3;
}

button.headerButtons--hemisphere {
  --headerButton--background: #587cd2;
  --headerButton--border: #7793e6;
}

button.headerButtons--bug {
  --headerButton--background: #f7d32e;
  --headerButton--border: #fffca8;
}

button.headerButtons--delete {
  --headerButton--background: #ff0000;
  --headerButton--border: #ea7676;
}

.headerButtons .material-icons {
  font-size: 35px !important;
}

.footer {
  padding: 8px 30px 8px 30px;
  background-image: url("/pattern.jpg");
  background-size: 240px 240px;
  color: white;
  text-align: left;
  font-size: small;
}
