:root {
  --font: "Nunito", sans-serif;

  --color-background: #fbfbfb;
  --color-text: #444;
  --color-border: #ccc;
  --color-button: #ddd;
  --color-button-hover: #ccc;

  --size-border-radius: 15px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
button,
input {
  font-family: var(--font);
  font-weight: bold;
}

html {
  background: var(--color-background);
  color: var(--color-text);
  user-select: none;
}
